.btn {
    border-radius: 0;
    border: 0;
}

.btn-orange {
    background: $brand-orange;
    color: #fff;
}

.to-top {
    position: fixed;
    z-index: 20;
    bottom: 20;
    right: 20;
    border-radius: 50%;
    background: $brand-orange;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    
    p {
        margin: 0;
        padding: 0;
    }
}