.flex {
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.flex-container-column {
    @extend .flex;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    flex: 1;
}
